.news {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 100%;
}
.news__image {
    width: 100%;

}
.news__image__img {
    max-height: 400px;
    height: 100%;
    width: 100%;
}

.news__title {
    font-family: 'Noto Serif';
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
    text-align: left;
}

.news__content {
    font-size:16px;
    font-family: 'Noto serif';
    margin-bottom: 0;
    text-align: left;
}

.news__author {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: 'TRT';
}

.news_content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px 0px;
    overflow-y: scroll;
}
/*news horizontal*/

.news-horizontal {
    min-width: fit-content;
    display: flex;
    height: 240px;
}
.news-horizontal .news__image__img {
    min-width: 280px;
}
.news-horizontal .news_content {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap:12px;
    padding:24px;
}

@media screen and (max-width: 500px) {
    .news__title{
      font-size: 16px !important;
    }
}